<head>
    <style>
        .submit-btn {
            width: 18rem;
        }

        .feedback-view {
            padding: 25px 0 50px 0;
        }

        .alert {
            padding: 50px;
        }
        .alert * {
            font-size: 1.5em;
        }

        .btn {
            margin-bottom: 25px;
        }
    </style>
</head>

<div class="container container-fluid feedback-view">
    <div class="col-sm-8 col-sm-offset-2">

        <div class="form-group">
            <h3><label class="control-label">Email</label></h3>
            <input type="text" class="form-control well well-lg" placeholder="john_doe@example.com" [autofocus]=true #email>
        </div>
        <br />
        <div class="form-group">
            <h3><label class="control-label">Feedback</label></h3>
            <textarea class="form-control well well-lg" name="message" rows="4" cols="50" #feedback></textarea>
        </div>

        <div class="form-group">
            <button (click)="submitFeedback(email.value, feedback.value)" type="submit" class="btn btn-default btn-lg submit-btn">Submit Feedback</button>
        </div>

        <div *ngIf="message">
            <div *ngIf="status === 'Invalid!'" class="alert alert-danger">
                <p>{{ message }}</p>
            </div>

            <div *ngIf="status === 'Success!'" class="alert alert-success">
                <p>{{ message }}</p>
            </div>
        </div>

    </div>
</div>